body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  .PageContent{
    margin-top: 100px;
    padding-bottom: 50px;
  }
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  .delete_icon {
    color: red;
    font-size: 18px;
    
  }
  .formsWidth{
    max-width: 400px;
  }
  .postFormWidth{
    max-width: 600px;
  }
  
  /* USER PROFILE CSS */
  .ProfilePic {
    width: 200px;
    height: 200px;
    border-radius: 10%;
  }
  /* POST HOMEAGE STYLING */
  .post{
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .title > h4 > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
  }
  #hrLine {
    /* background-color: red;
    border-top: 2px dotted #8c8b8b; */
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
  #post_detail_title > h4 {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
  }
  .img_100{
    width: 100%;
    height: auto;
  }
  .img_80{
    width: 80%;
    height: auto;
  }
  .ProfilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .profile_buttons{
    width: 100%;
    margin-top: 15px;
  }
  .username{
    text-align: center;
    padding-top: 20px;
  }
  .profile_info{
    padding-top: 20px;
  }
  #post_title_ProfileSite{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
  }
  #latestPosts{ 
    text-shadow:1px 1px 1px rgba(130,130,130,1);
    font-weight:normal;
    text-transform:uppercase;
    color:#000000;
    letter-spacing:2pt;
    word-spacing:2pt;
    font-size:25px;
    text-align:left;
    font-family:arial black, sans-serif;
    line-height:1;
  }