{% extends "blog/base.html" %}
{% block content %}

<div class="post">
    <div class="author">
        <p>
            {% if post.author.profile.image %}
            <img src="{{ post.author.profile.image.url }}" class="ProfilePic" alt="">
            {% endif %}
            by <strong><a href="{% url 'blog:userPostsView' pk=post.author.username %}">{{ post.author }}</a></strong>
            on <strong>{{ post.date_posted|date:"F j, Y" }}</strong>
        </p>
        {% if user.is_authenticated and object.author == user %}
        <div style="display: inline-block;">
            <a href="{% url 'blog:post_update' pk=post.pk %}"><button class="btn btn-success btn-xs">Edit
                    Post <i class="fas fa-edit"></i></button></a>
            <a href="{% url 'blog:post_delete' pk=post.pk %}"><button class="btn btn-danger btn-xs">Delete
                    Post <i class="fas fa-trash-alt delete_icon" style="color:white;"></i></button></a>
        </div>
        {% endif %}
    </div>
    <hr id="hrLine">
    <div class="title" style="margin-top:30px;">
        <h4>
            <a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a>
        </h4>
    </div>
    <div class="content" style="margin-top:30px;">
        {{ post.content|safe }}
    </div>
</div>



<div id="post_detail_title">
    <h4>
        {{ object.title }}
    </h4>
</div>
{% endblock content %}