{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="post">
    <div class="author">
        <p>
            {% if post.author.profile.image %}
            <img src="{{ post.author.profile.image.url }}" class="ProfilePic" alt="">
            {% endif %}
            by <strong><a href="{% url 'blog:userPostsView' pk=post.author.username %}">{{ post.author }}</a></strong>
            on <strong>{{ post.date_posted|date:"F j, Y" }}</strong>
        </p>
        {% if user.is_authenticated and object.author == user %}
        <div style="display: inline-block;">
            <a href="{% url 'blog:post_update' pk=post.pk %}"><button class="btn btn-success btn-xs">Edit
                    Post <i class="fas fa-edit"></i></button></a>
            <a href="{% url 'blog:post_delete' pk=post.pk %}"><button class="btn btn-danger btn-xs">Delete
                    Post <i class="fas fa-trash-alt delete_icon" style="color:white;"></i></button></a>
        </div>
        {% endif %}
    </div>
    <hr id="hrLine">
    <div class="title" style="margin-top:30px;">
        <h4>
            <a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a>
        </h4>
    </div>
    <div class="content" style="margin-top:30px;">
        {{ post.content|safe }}
    </div>
</div>


<div id="post_detail_comments">

    <hr id="hrLine">
    <h3>Post Comments:</h3>

    {% for comment in post.comments.all %}

    <div class="comment">
        <div class="comment_author">
            <img src="{{ comment.author.profile.image.url }}" class="ProfilePic" alt="">
            <br>
            <a href="{% url 'blog:userPostsView' pk=post.author.username %}">{{ comment.author }}</a>

        </div>
        <div class="comment_content">
            {{ comment.text }} <br>
            <span style="font-size:14px;">Posted {{ comment.created_date|timesince }} ago</span>
            {% if user == comment.author %}
            <br>
            <a href="{% url 'blog:edit_comment' pk=comment.pk %}" style="color:orange;font-size:14px;">Edit
                Comment <i class="fas fa-trash-alt delete_icon"></i></a>
            <a href="{% url 'blog:comment_delete' pk=comment.pk %}" style="color:red;font-size:14px;">Delete
                Comment <i class="fas fa-trash-alt delete_icon"></i></a>
            {% endif %}
        </div>
    </div>

    {% endfor %}

    {% if user.is_authenticated %}
    <h5>Add Comment:</h5>
    <form method="post" class="commentForm">
        {% csrf_token %}
        {{ form.text }}
        {{ form.author.as_hidden }}
        {{ form.post.as_hidden }}
        <button type="submit" class="btn btn-success">Add comment</button>
    </form>
    {% else %}
    <h5>
        <a href="{% url 'login' %}">Click here</a> to login and add comment
    </h5>
    {% endif %}
</div>



{% endblock content %}