{% extends "blog/base.html" %}
{% block content %}
<p id="latestPosts">Django Blog latest posts:</p>
{% for post in object_list %}
<div class="post">
    <div class="author">
        <p>
            {% if post.author.profile.image %}
            <img src="{{ post.author.profile.image.url }}" class="ProfilePic" alt="">
            {% endif %}
            by <strong><a href="{% url 'blog:userPostsView' pk=post.author.username %}">{{ post.author }}</a></strong>
            on <strong>{{ post.date_posted|date:"F j, Y" }}</strong>
        </p>
    </div>
    <div class="title">
        <h4>
            <a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}
                {% if post.author == user %}
                <i class="fas fa-edit"></i>
                {% endif %}
            </a>
        </h4>
    </div>
    <div class="content">
        {% if post.content|length > 300 %}
        {{ post.content|slice:":300"|safe }} ... <a href="{% url 'blog:post_detail' pk=post.pk %}"> Read more</a>
        {% else %}
        {{ post.content|safe }}
        {% endif %}
    </div>
    <div class="comment_info">
        <a href="{% url 'blog:post_detail' pk=post.pk %}#post_detail_comments">See comments
            ({{ post.comments.all.count }})</a>
    </div>
</div>
<hr id="hrLine">
{% endfor %}

{% endblock content %}