{% extends "blog/base.html" %}
{% block content %}


<h1>{{ object_list.first.author }} posts list:</h1>
<ul>
    {% for post in object_list %}
    <li>
        <h4>
            <a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}
                {% if post.author == user %}
                <i class="fas fa-edit"></i>
                {% endif %}
            </a>
        </h4>
        <ul>
            <li>
                {% if post.content|length > 300 %}
                {{ post.content|slice:":300" }} ... <a href="{% url 'blog:post_detail' pk=post.pk %}"> Read Post</a>
                {% else %}
                {{ post.content }}
                {% endif %}
            </li>
            <li>
                {{ post.date_posted|date:"d.m.Y, H:i" }}
            </li>
            <!-- <li>
                <a href="{% url 'blog:userPostsView' pk=post.author.username %}">{{ post.author }}</a>
            </li> -->
        </ul>
    </li>
    {% endfor %}
</ul>
{% endblock content %}